<div class="container-fluid">
	
	<div class="row">
		
		<div class="col-md-6 col-md-offset-3">

			<h2 class="sub-header">Agregar Cita</h2>

			<form class="form-horizontal">
			 	<div class="form-group">
			    	<label for="nameCliente" class="col-sm-3 control-label">Nombre de cliente</label>
			    	<div class="col-sm-9">
			    		<input type="text" class="form-control" id="nameCliente" placeholder="Nombre">
			    	</div>
			  	</div>

				<div class="form-group">
			    	<label for="servicio" class="col-sm-3 control-label">Servicio</label>
			    	<div class="col-sm-9">
				    	<select name="servicio" class="form-control">
						  <option value="lavado">Lavado</option>
						  <option value="mantenimiento">Mantenimiento</option>
						</select>
			    	</div>
			  	</div>

			  	<div class="form-group">
			    	<label for="inputEmail3" class="col-sm-3 control-label">Email</label>
			    	<div class="col-sm-9">
			      		<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<div class="col-sm-offset-3 col-sm-9">
			      		<button type="guardar" class="btn btn-default">Guardar</button>
			    	</div>
			  	</div>
			</form>		
		</div>

	</div>

</div>