<div class="container-fluid">
	
	<div class="row">
		
		<div class="col-md-6 col-md-offset-3">

			<h2 class="sub-header">Agregar Cliente</h2>

			<form class="form-horizontal" name="clienteForm" ng-submit="add()">
			 	<div class="form-group">
			    	<label for="nameCliente" class="col-sm-3 control-label">Nombre de cliente</label>
			    	<div class="col-sm-9">
			    		<input name="nombre" ng-model="cliente.Nombre" required type="text" class="form-control" id="nameCliente" placeholder="Nombre" ng-pattern="/[A-ZÑÁÉÍÓÚ][a-zA-ZñÑáéíóúÁÉÍÓÚ\\s\'.-]{2,}/" required>
			    		<span STYLE="color: red; font-size: 10pt" ng-show="clienteForm.nombre.$error.pattern">* Nombre inválido. Ej: Oscar Rojas </span>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="emailCliente" class="col-sm-3 control-label">Email</label>
			    	<div class="col-sm-9">
			    		<input name="email" ng-model="cliente.Email" required type="email" class="form-control" id="emailCliente" placeholder="Email" required>
			    		<span STYLE="color: red; font-size: 10pt" ng-show="clienteForm.email.$invalid">* Email inválido. Ej: oscar@yahoo.com </span>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="fechanacimCliente" class="col-sm-3 control-label">Fecha nacimiento</label>
			    	<div class="col-sm-9">
			    		<input name="fechaNacim" ng-model="cliente.FechaNacimiento" required type="date" class="form-control" id="fechanacimCliente" placeholder="Fecha de nacimiento" required>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="telCliente" class="col-sm-3 control-label">Teléfono</label>
			    	<div class="col-sm-9">
			    		<input name="telefono" ng-model="cliente.Telefono" required type="tel" class="form-control" id="telCliente" placeholder="Teléfono" ng-pattern="telRegex">
			    		<span STYLE="color: red; font-size: 10pt" ng-show="clienteForm.telefono.$error.pattern">* Teléfono inválido. Ej: 81234567 </span>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<div class="col-sm-offset-3 col-sm-9">
			      		<button type="submit" ng-disabled="clienteForm.$invalid" class="btn btn-default">Guardar</button>
			    	</div>
			  	</div>
			</form>
		</div>

	</div>

</div>