<div class="container-fluid">
	
	<div class="row">
		<i class="fa fa-spinner fa-spin" ng-hide="isContenidoCargado"></i>
		<div class="col-md-6 col-md-offset-3" ng-show="isContenidoCargado">

			<h2 class="sub-header">Completar Cita</h2>

			<form class="form-horizontal" ng-submit="completarCita()">
			 	<div class="form-group">
			    	<label for="nameCliente" class="col-sm-3 control-label">Nombre de cliente</label>
			    	<div class="col-sm-9">
			    		<p ng-if="!citaNueva">{{cita.fields.NombreCliente[0]}}</p>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="vehiculo" class="col-sm-3 control-label">Vehículo</label>
			    	<div class="col-sm-9">
			    		<p ng-if="!citaNueva">{{cita.fields.DetalleVehiculo[0]}}</p>
			    	</div>
			  	</div>
				<div class="form-group">
			    	<label for="servicio" class="col-sm-3 control-label">Servicio</label>
			    	<div class="col-sm-9">
				    	<select name="servicio" ng-if="!citaNueva" class="form-control" ng-model="cita.fields.TipoServicio">
						  <option ng-repeat="servicio in servicios" ng-selected="servicio.fields.Nombre==cita.fields.Tipo" value="{{servicio.id}}">{{servicio.fields.Nombre}}</option>
						</select>
			    	</div>
			  	</div>
			  	<div class="form-group">
			  		<label for="comentarios" class="col-sm-3 control-label">Comentarios</label>
			  		<div class="col-sm-9">
			  			<textarea class="form-control" ng-if="!citaNueva" rows="3" ng-model="cita.fields.Comentarios" id="comentarios">{{cita.fields.Comentarios}}</textarea>
			  		</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="fechaDeCita" class="col-sm-3 control-label">Fecha</label>
			    	<div class="col-sm-9">
			    		<p>{{FechaNormal}}</p>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<label for="horaDeCita" class="col-sm-3 control-label">Hora</label>
			    	<div class="col-sm-9">
			    		<p>{{HoraActual}}</p>
			    	</div>
			  	</div>
			  	<div class="form-group">
			    	<div class="col-sm-offset-2 col-sm-10">
			      		<button type="submit" class="btn btn-default">Completar Cita</button>
			    	</div>
			  	</div>
			</form>		
		</div>

	</div>

</div>