<div class="container-fluid">
	
	<div class="row">
		<div class="col-md-12">
			<h2 class="sub-header">Posibles Próximos Cambios de Aceite</h2>
		</div>
	</div>
	<a class="btn btn-success" href="" ng-click="generarLista()">Generar lista</a>

<div class="table-responsive" ng-show="isContenidoCargado">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Fecha Próximo Cambio</th>
				<th>Días Promedio</th>
				<th>Cliente</th>
				<th>Teléfono</th>
				<th>Email</th>
				<th>Vehiculo</th>
				<th>Placa</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in resultado">
				<td>{{item.proximaFecha | date : 'dd/MM/yyyy'}}</td>
				<td>{{item.promedioCambio}}</td>
				<td>{{item.nombreCliente}}</td>
				<td>{{item.telefonoCliente}}</td>
				<td>{{item.emailCliente}}</td>
				<td>{{item.detalleVehiculo[0]}}</td>
				<td>{{item.placa[0]}}</td>
			</tr>
		</tbody>
	</table>
</div>